:root {
    background-image: url(https://i.ibb.co/x7d4HGg/background-1edit2.jpg);
    background-color: black;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

.box {
    border: none;

}

.h1-logo {
    font-size: 24px;
    font-weight: 800;
    font-style: italic;
}

.logo {
    font-style: italic;
    font-size: 34px;
}

.fa-sun-o {
    color: tomato;
}

.columns {
    padding: none;
    margin: none;
}

#myVideo {
    position: top;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
